.app {
  width: 700px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.display-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: #858293;
  color: antiquewhite;
}

.display-text {
  padding: 0 5px;
  font-size: 40px;
  font-weight: bold;
  text-align: end;
}

.btn-panel {
  width: 700px;
}
